@using VideoTeca.Models
@{
    ViewBag.Title = "Videos";
    List<video> videos = ViewBag.videos;
}

<div class="container-fluid">
    <div class="">
    </div>
    <div class="row">

        @foreach (var video in videos)
        {
            <div class="col">
                <div class="video">

                    <div class="thumbnail">
                        <iframe width="315" height="177" src="@video.url"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>
                    <div class="detalhes">
                        <div class="titulo">
                            <h3>@video.titulo</h3>
                            <p>@video.enviadoPor</p>
                        </div>
                    </div>
                </div>
            </div>
         }
        </div>
</div>

