﻿<footer class="creditos-desenvolvimento">

    <p class="text-right ">
        @DateTime.Now.Year -
        Unitins - Todos os direitos reservados.<br>
        Desenvolvido por: <strong>Gustavo Mendes Xavier - Mat: 830334</strong>
    </p>
</footer>
