@using VideoTeca.Models
@{
    ViewBag.Title = "Aceitar Termos";
    Layout = null;

}

<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Aceitar termos</h4>
            <button type="button" class="btn" data-bs-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
            
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header text-white bg-primary" style="font-size: 28px;">Termos e Condições</div>
                        <div class="card-body">
                            
                            <p>Aqui vão os termos e condições.</p>
                            <p>Aqui vão os termos e condições.</p>
                            <p>Aqui vão os termos e condições.</p>
                            v
                            <p>Aqui vão os termos e condições.</p>
                            <p>Aqui vão os termos e condições.</p>
                            <p>Aqui vão os termos e condições.</p>
                            <p>Aqui vão os termos e condições.</p>
                            <p>Aqui vão os termos e condições.</p>
                            v
                            <p>Aqui vão os termos e condições.</p>
                            v
                            <p>Aqui vão os termos e condições.</p>
                            <p>Aqui vão os termos e condições.</p>
                            <p>Aqui vão os termos e condições.</p>
                            <p>Aqui vão os termos e condições.</p>
                            <p>Aqui vão os termos e condições.</p>
                            <p>Aqui vão os termos e condições.</p>
                            <p>Aqui vão os termos e condições.</p>
                            <p>Aqui vão os termos e condições.</p>
                            <p>Aqui vão os termos e condições.</p>
                            <p>Aqui vão os termos e condições.</p>

                            
                            <input type="checkbox" id="termsCheckbox">
                            <label class="form-check-label" for="aceitarTermos">Aceitar os termos</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="fecharBtn" disabled>Fechar</button>
        </div>
    </div>
</div>

