@using VideoTeca.Models
@{
    ViewBag.Title = "Aceitar Termos";
    Layout = null;

}

<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Aceitar termos</h4>
            <button type="button" class="btn" data-bs-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body" style="max-height: 400px; overflow-y: auto;">

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header text-white bg-primary" style="font-size: 28px;">TERMO DE AUTORIZAÇÃO DE USO DE IMAGEM, VOZ E RESPECTIVA CESSÃO DE DIREITOS (LEI N. 9.610/98)</div>
                        <div class="card-body">

                            <p>
                                AUTORIZO, de forma gratuita e sem qualquer ônus, à Universidade Estadual do Tocantins - UNITINS, a utilização de minha(s) imagem(ns), vídeo(s) e/ou voz e/ou de informações pessoais nas obras ora associadas ao Projeto “VIDEOTECA- UNI: UM ENSINO ALÉM DA SALA DE AULA”, e em sua divulgação, se houver, em todos os meios de divulgação, quer sejam na mídia impressa (livros, catálogos, revistas, jornais, entre outros), televisiva (propagandas para televisão aberta e/ou fechada, vídeos, filmes, entre outros), radiofônica (programas de rádio/podcasts), internet, banco de dados informatizados, multimidia, entre outros, e nos meios de comunicação interna, como jornais e periódicos em geral, na forma de impresso, voz e imagem.
                                A presente autorização e cessão são outorgadas livre e espontaneamente, em caráter gratuito, não incorrendo à autorizada qualquer custo ou ônus, seja a qualquer título, sendo que estas são firmadas em caráter irrevogável, irretratável, e por prazo indeterminado, obrigando, inclusive, eventuais herdeiros e sucessores outorgantes, sem que nada haja a ser reclamado a título de direitos conexos à minha imagem ou a qualquer outro.
                            </p>


                            <input type="checkbox" id="termsCheckbox">
                            <label class="form-check-label" for="aceitarTermos">Aceitar os termos</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="fecharBtn" disabled>Fechar</button>
        </div>
    </div>
</div>

