@using VideoTeca.Models
@{
    ViewBag.Title = "Enviar video";
    List<area> areas = ViewBag.Areas;
}

@using (Html.BeginForm("EnviarVideo", "Professor", FormMethod.Post, new { enctype = "multipart/form-data", id = "enviarVideo", autocomplete = "on" }))
{
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInputTitulo" name="titulo" placeholder="Título ou Palavras-Chave" required="">
        <label for="floatingInputTitulo">Título:</label>
    </div>
    <div class="form-group">
        <label for="floatingInputDescricao">Descrição:</label>
        <textarea class="form-control" id="descricao" name="descricao" maxlength="4000"></textarea>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInputLink" name="url" placeholder="Link do video" required="">
        <label for="floatingInputLink">Link do video:</label>
    </div>
    <div class="row gx-2 mb-5">
        <div class="col-5 col-lg-3">
            <div class="form-floating">
                <select class="form-select" id="floatingSelect1" name="area" required="">
                    <option selected hidden>Escolha uma área</option>
                    @foreach (var area in ViewBag.Areas)
                    {
                        <option value="@area.id">@area.nome</option>
                    }
                </select>
                <label for="floatingSelect">Área</label>
            </div>
        </div>

        <div class="col-5 col-lg-3">
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" name="subarea" disabled="">
                    <option selected hidden></option>
                </select>
                <label for="floatingSelect">Subárea</label>
            </div>
        </div>
    </div>
    <div class="form-group form-check">
        <a class="btn btn-primary" style="float: right; color: white; text-decoration: none; " id="aceitarTermos" name="aceitarTermos">Aceitar termos</a>
    </div>
    <button type="submit" class="btn btn-primary offset-11" style="float:right" id="enviarBtn" disabled>Enviar</button>
}

@section Scripts {
    <script>
        
        document.getElementById('aceitarTermos').addEventListener('click', function() {
            var url = '@Url.Action("AceitarTermosModal", "Professor")';
            $("#myModal").load(url);
            $("#myModal").modal({
                backdrop: 'static',
                keyboard: false
            });
            $("#myModal").modal('show');
        });
        
        function fetchSubAreas() {
            var areaId = $('#floatingSelect1').val();
            $.ajax({
                dataType: "json",
                method: "POST",
                url: "@Url.Action("BuscarSubArea", "Professor")",
                data: { id: areaId },
            })
            .done(function(data) {
                var select = $("#floatingSelect");
                select.empty().append($('<option>', { value: '', text: 'Escolha uma Subárea' }));

                data.forEach(function(item) {
                    select.append($('<option>', {
                        value: item.Id,
                        text: item.Nome
                    }));
                });

                select.prop('disabled', false);
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                console.error('Erro na chamada AJAX: ' + textStatus);
            });
        }

        $('#floatingSelect1').on("change", fetchSubAreas);

        $(document).on("change", "#termsCheckbox", function() {
            var isChecked = $(this).is(':checked');
            $('#fecharBtn').prop('disabled', !isChecked);
            $('#enviarBtn').prop('disabled', !isChecked);
        });
    </script>
}

