@using VideoTeca.Models
@model subarea
@{
    ViewBag.Title = "Detalhes Subárea";
    Layout = null;
}

<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="row">
                <div class="col ">
                    <div class="card">
                        <div class="card-header text-white bg-primary" style="font-size: 28px;">Dados da Subárea</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="form-group col-lg-7" id="BuscaSecurity">
                                            <label for="IdArea" class="control-label">Subárea:</label>
                                            <br />
                                            <input id="IdArea" value="@Model.nome" autocomplete="off" type="text" class="form-control" tabindex="4" disabled="" color: #0c0c0c; />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="fecharBtn">Fechar</button>
        </div>
    </div>
</div>
